body {
  text-align: center;
  background-color: #21325E;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0 3%;
  color: #FEF2BF;
  line-height: 2;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5% 0 3% 0;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
#start{
  margin: auto;
  display: inline-block;
  height: 50px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 20%;
  font-weight: bold;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #FEF2BF;
}
@media screen and (max-width: 1000px)  {
  .btn {
    width: 80px;
    height: 80px;
  }
}
